#planet-list, #drop-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    z-index: 10;
}
.planet {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}
.planet[data-name="Меркурий"] { background-color: gray; }
.planet[data-name="Венера"] { background-color: yellow; }
.planet[data-name="Земля"] { background-color: #00ff0d; }
.planet[data-name="Марс"] { background-color: red; }
.planet[data-name="Юпитер"] { background-color: orange; }
.planet[data-name="Сатурн"] { background-color: khaki; }
.planet[data-name="Уран"] { background-color: lightblue; }
.planet[data-name="Нептун"] { background-color: darkblue; }

#drop-zone {
    border: 2px dashed black;
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.drop-slot {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.hidden {
    display: none;
}

#win-message {
    font-size: 24px;
    color: green;
    display: none;
}

main{
    display: flex;
    flex-direction: column;
}