
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.planets {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    background-color: #555;
    margin: 35px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planets h2 {
    position: absolute;
    top: 230px;
    text-transform: uppercase;
    font-size: 1.6em;
}

.satellite {
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #ccc;
    animation: rotate 10s infinite linear;
    z-index: 10;

}

#moon { animation-duration: 5s; background: #494949 }
#io { animation-duration: 8s;  background: #c9c258}
#europa { animation-duration: 10s; background: #b8afa9}
#ganymede { animation-duration: 12s; background: #b5ac9c}
#callisto { animation-duration: 15s; background: #be8564}
#titan { animation-duration: 9s;  background: #e8d583}
#enceladus { animation-duration: 11s; background: #d1d1d1}
#triton { animation-duration: 14s; background: #aeb4a6}

@keyframes rotate {
    from {
        transform: rotate(0deg) translateX(120px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(120px) rotate(-360deg);
    }
}

/* Наведение на спутник */
.satellite:hover {
    animation-play-state: paused;
    transform: scale(1.5);
}

.satellites ul li{
    list-style-type: none;
}


#earth{background: url("../resources/photos/GEarth.png") no-repeat center center; background-size: contain}
#jupiter{background: url("../resources/photos/GJupiter.png") no-repeat center center; background-size: contain}
#saturn{background: url("../resources/photos/GSaturn.png") no-repeat center center; background-size: contain}
#neptune{background: url("../resources/photos/GNeptune.png") no-repeat center center; background-size: contain}

.satellite-text{
    position: absolute;
}
p{
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

main{
    margin-top:0;
}